* {
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: black;
    display: inline-block;
}





/* ///LOGO/// */

#div-logo {
    width: 400px;
    height: 80px;
    position: relative;
    top: 15px;
}

.link-logo {
    width: 0px;
    height: 55px;
    cursor: pointer;
    outline: none;
}

.logo {
    width: 400px;
    height: 80px;
    position: relative;
    left: 25%;
}

/* ---------------- */




/* ///CAIXA DE PESQUISA/// */

.search-box {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 55px;
}

#textsearch {
    box-sizing: border-box;
    width: 700px;
    height: 30px;
    border-color: transparent;
    outline: 0;
    background: transparent;
    position: relative;
    left: 600px;
    color: #f5ece3;
    font-weight: 200;
    font-size: 14px;
    border-bottom: 2px solid #f5ece3;
}

#textsearch::placeholder {
    color: #f5ece3;
    font-weight: 200;
    font-size: 14px;
}

#buttonsearch {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    left: 30%;
    bottom: 2px;
}

/* ----------------- */




/* ///ABAS HEADER/// */

#div-headerbuttons {
    width: 100%;
    height: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 6px;
}

.header-buttons {
    position:relative;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 300;
    color: #f5ece3;
    font-family: "Josefin Sans", Arial, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    outline: 0;
    opacity: 1;
    height: 10px;
    display: inline;
}

#home-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #f5ece3;
    transition: width 0.1s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#home-button:hover::after {
    width: 25px;
    left: 50%;
}

#news-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #f5ece3;
    transition: width 0.1s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#news-button:hover::after {
    width: 25px;
    left: 50%;
}

#shoes-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #f5ece3;
    transition: width 0.1s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#shoes-button:hover::after {
    width: 25px;
    left: 50%;
}

#collections-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #f5ece3;
    transition: width 0.1s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#collections-button:hover::after {
    width: 25px;
    left: 50%;
}

#outlet-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #f5ece3;
    transition: width 0.1s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#outlet-button:hover::after {
    width: 25px;
    left: 50%;
}

#sale-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #f5ece3;
    transition: width 0.1s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

#sale-button:hover::after {
    width: 25px;
    left: 50%;
}

.header-buttons:not(:last-child) {
    margin-right: 40px;
}


#home-button:hover,
#news-button:hover,
#shoes-button:hover,
#collections-button:hover,
#outlet-button:hover,
#sale-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* ------------------- */




/* ///BOTÃO DE LOGIN E REGISTRO/// */

.popup-open {
    position: absolute;
    left: 85.5%;
    top: 73px;
}

.btn,.btn-secondary{
    border-radius: 0;
}

.btn {
    color: #f5ece3;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 0;
}

.btn::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #f5ece3;
    transition: width 0.3s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.btn:hover::after {
    width: 55px;
    left: 50%;
}

.btn-secondary {
    border-radius: 0;
    border: none;
    width: 80px;
    height: 30px;
}

.btn-secondary:hover {
    border-radius: 0;
    color: #f5ece3;
    opacity: 0.8;
}

.btn-secondary:active {
    opacity: 0.6;
}

#buttonLog {
    background-color: transparent;
    color: #f5ece3;
    text-align: justify;
    bottom: 10px;
    height: 45px;
}

.p1 {
    margin: 0;
    height: 18px;

}

.p2 {
    margin: 0;
    font-weight: 100;
    font-size: small;
}

/* ------------------ */




/* ///BOTÃO DE FAVORITO/// */

.div-favoriteLink {
    margin: 0 auto;
    width: 30px;
    height: 28px;
    bottom: 6px;
    position: absolute;
    left: 90%;
}

.favorite-link {
    cursor: pointer;
    margin-bottom: 0;
    height: 1px;
    justify-content: center;
}

.favorite-itens {
    width: 30px;
    height: 28px;
}

.favorite-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #f5ece3;
    transition: width 0.3s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 3px;
  }

.favorite-link:hover::after {
    width: 40px;
    left: 50%;
  }

.favorite-link:hover {
    opacity: 0.8;
}

.favorite-link:active {
    opacity: 0.6;
}

/* ---------------------- */




/* ///BOTÃO CARRINHO/// */

.div-shoppingcartLink {
    margin: 0 auto;
    width: 30px;
    height: 28px;
    bottom: 9px;
    position: absolute;
    left: 93%;
}

.shoppingcart-link {
    cursor: pointer;
    height: 1px;
    justify-content: center;
}

.shopping-itens {
    width: 30px;
    height: 32px;
}

.shoppingcart-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #f5ece3;
    transition: width 0.3s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    top: 2px;
  }

.shoppingcart-link:hover::after {
    width: 40px;
    left: 50%;
  }

.shoppingcart-link:hover {
    opacity: 0.8;
}

.shoppingcart-link:active {
    opacity: 0.6;
}

/*--------------------------*/




/* ///JANELA POPUP LOGIN E REGISTRO/// */

.popup-menu{
    background-color: #f5ece3;
    width: 800px;
    height: 450px;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 25%);
    border-radius: 30px;
    display: none;
}

#barlog-reg {
    color: black;
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    left: 185px;
    top: 22px;
    cursor: pointer;
    z-index: 2;
}

.log-change {
    width: 100px;
    background-color: transparent;
    position: absolute;
    left: 80px;
    top: 40px;
    border: none;
    font-size: 30px;
    color: black;
}

.log-change::after {
    content: "";
    display: block;
    height: 3.5px;
    width: 0;
    background-color: black;
    transition: width 0.3s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 51px;
}

.log-change:hover::after {
    width: 90px;
    left: 51px;
}

.reg-change {
    width: 100px;
    background-color: transparent;
    position: absolute;
    left: 200px;
    top: 40px;
    border: none;
    width: 130px;
    font-size: 30px;
    color: black;
}

.reg-change::after {
    content: "";
    display: block;
    height: 3.5px;
    width: 0;
    background-color: black;
    transition: width 0.3s ease-in-out;
    position: relative;
    transform: translateX(-50%);
    left: 67px;
}

.reg-change:hover::after {
    width: 120px;
    left: 67px;
}

.log-change:hover, .reg-change:hover {
    opacity: 0.8;

}

.log-change:active, .reg-change:active {
    opacity: 0.6;
}

.popup-log-div1 {
    position: absolute;
    top: 110px;
    left: 50px;
    width: 300px;
    height: 30px;
    outline: none;
}

.label-log1 {
    color: black;
}

.popup-log1 {
    outline: 0;
    width: 300px;
    position: absolute;
    background: transparent;
    border: transparent;
    color: black;
    border-bottom: 2px solid black;
}

.popup-log1::placeholder {
    color: black;
}

.popup-log-div2 {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    height: 30px;
    outline: none;
}

.label-log2 {
    color: #f5ece3;
}

.popup-log2 {
    outline: 0;
    width: 300px;
    position: absolute;
    border: transparent;
    background:transparent;
    color: black;
    border-bottom: 2px solid black;
}

.popup-log2::placeholder {
    color: black;
}

#show-password {
    position: absolute;
    left: 51px;
    top: 201px;
    border: 1px solid;
    border-radius: 50%;
    outline: none;
    transform: scale(1.2);
}

.password-label {
    position: absolute;
    left: 70px;
    top: 196px;
    color: black;
    position: absolute;
    font-size: 17px;
    font-weight: lighter;
}

#email-promo-checkbox {
    position: absolute;
    left: 51px;
    top: 235px;
    transform: scale(1.2);
}

.promo-label {
    position: absolute;
    left: 70px;
    top: 230px;
    color: black;
    position: absolute;
    font-size: 17px;
    font-weight: lighter;
}

.btnsubmit {
    position: relative;
    top: 300px;
    left: 150px;
    border-radius: 10px;
    border: 0;
    background-color: black;
    width: 100px;
    height: 30px;
    color: #f5ece3;
}

.btnsubmit:hover {
    box-shadow: 1px 1px 7px 0px black;
}

.btnsubmit:active {
    opacity: 0.8;
}

.forgotpasslink {
    text-decoration: none;
    position: relative;
    top: 340px;
    left: 75px;
    cursor: pointer;
    color: black;
    position: absolute;
    font-size: 17px;
    margin-top: 30px;
}

.forgotpasslink:hover {
    text-decoration-line: underline;
}

.forgotpasslink:active {
    opacity: 0.6;
}

.form-log {
    border-right: 4px solid black;
    width: 410px;
    height: 450px;
}

#norah-logo-popup {
    position: absolute;
    width: 45%;
    height: auto;
    left: 425px;
    top: 38px;
}

/* ------------------ */




/* ///CUPOM DE DESCONTO/// */

#coupon-div {
    background-color: #f5ece3;
    width: 100%;
    height: 50px;
    text-align: center;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      color: black; 
    }
  }

#coupon {
    display: inline-block;
    position: relative;
    top: 25%;
    font-family: "Josefin Sans", Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    animation: blink 1s infinite;
    text-decoration: none;
    color: red;
}

/*----------------------*/





main {
    height: 3000px;
}

/* ///SLIDER BANNER/// */

.slider {
    margin: 0 auto;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: 400px;
    transition: 1s;
}

.slide img {
    width: 100%;
    height: 650px;
}

/* Manual navigation */

.manual-navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 77%;
}

.manual-btn {
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    width: 15px;
    height: 15px;
}

.manual-btn:not(:last-child) {
    margin-right: 35px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

/*Prev-next Buttons*/
.slide-controls {
    display: block;
    position: absolute;
    margin-top: -25px;
    top: 50% !important;
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

#next-btn, #prev-btn {
    cursor: pointer;
    background: transparent;
    width: 30px;
    height: 30px;
    border: none;
    background: rgb(0, 0, 0, 0.5);
}

#next-btn img, #prev-btn img {
    width: 30px;
}

#next-btn img{
    position: relative;
    right: 10px;
}

#prev-btn img{
    position: relative;
    left: 10px
}

#next-btn:focus, #prev-btn:focus {
    outline: none;
}

/* Automatic navigation */

.navigation-auto div{
    border: 1.9px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    width: 15px;
    height: 15px;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    top: 77%;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 35px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}

/*---------------------*/





/* ///NUMBER FILTER/// */

.number-filter {
    background-color: black;
    color: #f5ece3;
    height: 40px;
    width: 100%;
    padding: 22px;
    justify-content: center;

    font-family: "Josefin Sans", Arial, sans-serif;
}

.number-filter-text {
    background-color: transparent;
    width: 300px;
    position: relative;
    bottom: 13px;
    left: 28%;
    font-size:19px;
    font-weight: 200;
    font-family: "Josefin Sans", Arial, sans-serif;
    letter-spacing: 4px;
}

.strong-numberFilter {
    position: relative;
    left: 20px;
}

.number-filter-numbers {
    background-color: transparent;
    width: 40%;
    height: 35px;
    position: relative;
    left: 55%;
    bottom: 48px;
    font-weight: 400;
}

.number-filterItem {
    width: 40px;
    height: auto;
    display: inline-block;
    list-style: none;
    align-items: center;
    color: #f5ece3;
    cursor: pointer;
    text-align: center;
    padding: 5px 0;
}

.number-filterItem:not(:last-child) {
    margin-right: 5px;
}

.number-filterItem:hover {
    color: black;
    background-color: #f5ece3;
}

/*-------------------*/





/* ///TAG FRONTPAGE/// */

.div-tag {
    width: 100%;
    height: 180px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.div-tagbtn {
    background-color: transparent;
    width: 100%;
    height: 60px;
    text-align: center;
    transform: translateY(50px);
}

.btn-tag {
    width: 320px;
    height: 60px;
    background-color: #f5ece3;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px #e4e7f0;
    display: inline;
    font-size: smaller;
    letter-spacing: 1px;
}

.btn-tag:not(:last-child) {
    margin-right: 80px;
}

.btn-tag:hover {
    box-shadow: 3px 3px 4px 2px #979797;
}

.btn-tag:hover strong {
    color: #ee826d;
}

.item-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    margin: 0 auto;
    padding: 25px 80px;
    letter-spacing: initial;
    line-height: initial;
    width: 60%;
    font-size: 16px;
    background: #fff;
    color: black;
    z-index: 99;
    text-align: center;
    transition: visibility .4s linear,opacity .4s linear;
    box-shadow: 1px 3px 22px 1px #e4e7f0;
    border-radius: 4px;
}

#img-tag1 {
    width: 40px;
    position: relative;
    bottom: 25px;
    right: 120px;
}

#img-tag2 {
    width: 40px;
    position: relative;
    bottom: 30px;
    right: 120px;
}

#img-tag3 {
    width: 40px;
    position: relative;
    bottom: 32px;
    right: 120px;
}

.div-tagtext {
    position: relative;
    transform: translateY(20%);
    text-align: center;
}
/*----------------------*/





/* ///OPPORTUNITIES/// */

.box-opportunities {
    display: flex;
    justify-content: center;
    width: 380px;
    display: inline-block;
    margin: 0 10px;
    height: 380px;
}

.box1 {
    margin-left: 19%;
}

.link-opportunities {
    width: auto;
    height: 100px;
}

#box-opportunitiesL {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 20px;
}

#box-opportunitiesL img {
    display: flex;
    position: relative;
    left: 4px;
    width: 1189px;
    height: 300px;
}

/*----------------------*/





/* ///NEWS E-MAIL/// */

.div-newsEmail {
    width: 100%; 
    height: 150px;
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
}

.news-email {
    background-color: black;
    width: 80%;
    border-radius: 4px;
}

.news-span {
    color: #f5ece3;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    letter-spacing: 4px;
    font-size: 20px;
}

.div-inputnews {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 35%;
}

.text-newsEmail {
    width: 340px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #f5ece3;
    outline: none;
    color: #f5ece3;
    position: relative;
    margin-right: 20px;
    padding: 0 0 0 10px;
}

.text-newsEmail::placeholder {
    color: #f5ece3;
    font-weight: 400;
}

#text-newsEmail3 {
    width: 100px;
    height: 40px;
    outline: none;
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid #f5ece3;
    color: #f5ece3;
    padding: 0;
}

#sizeShoe {
    display: none;
}

.sizeShoe-op {
    background-color: black;
    color: #f5ece3;
    text-align: center;
    font-size: 17px;
}

#text-newsEmail4 {
    width: 100px;
    height: 40px;
    background-color: #f5ece3;
    color: black;
    font-weight: 600;
    padding: 0;
    border: none;
    border-radius: 4px;
}

#text-newsEmail4:hover {
    opacity: 0.9;
}
#text-newsEmail4:active {
    opacity: 0.5;
}

/*-----------------*/





/* ///FIND OUT MORE/// */

#moreabout1 {
    width: 100%; 
    height: 30px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
}
#as {
    cursor: pointer;
    width: 80%;
    outline: none;
}


#moreabout2 {
    background-color: black;
    border-radius: 4px;
    height: 30px;
}

#moreaboutnora {
    color: #f5ece3;
    position: relative;
    top: 4px;
    height: 30px;
    outline: none;
    letter-spacing: 1px;
}

